
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8">
            <!-- items -->
            <table class="table table-bordered" data-ng>

                <!-- header -->
                <tr class="well">
                    <td class="tdCenter"><b>Item</b></td>
                    <td class="tdCenter"><b>Quantity</b></td>
                    <td class="tdRight"><b>Price</b></td>
                    <td />
                </tr>

                <!-- empty cart message -->
                <tr ng-hide="getTotalCount() > 0" >
                    <td class="tdCenter" colspan="4">
                        Your cart is empty.
                    </td>
                </tr>

                <!-- cart items -->
                <tr ng-repeat="product in cart">
                    <td class="tdCenter">{{product.name}}</td>
                    <td class="tdCenter">{{product.quantity}}</td>
                    <td class="tdRight">{{product.price * product.quantity | currency}}</td>
                    <td class="tdCenter">
                        <div class="btn-group">
                            <button
                                    class="btn btn-primary" type="button"
                                    ng-click="addItem(product)">+</button>
                            <button
                                    class="btn btn-inverse" type="button"
                                    ng-click="removeItem(product)">-</button>
                        </div>
                    </td>
                </tr>

                <!-- footer -->
                <tr class="well">
                    <td class="tdCenter"><b>Total</b></td>
                    <td class="tdCenter"><b>{{getTotalCount()}}</b></td>
                    <td class="tdRight"><b>{{getTotalPrice() | currency}}</b></td>
                    <td class="tdCenter"><button
                            class="btn btn-success" type="button" ng-show="getTotalCount() >0"
                            >Buy</button></td>
                </tr>
            </table>
        </div>


    </div>
</div>

